/* Global CSS */
header {
	height: 150px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #dadada;
}

body {
	margin: 0 auto;
	background-color: rgb(249, 249, 249);
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 16px;	
}

#logo {
	font-size: 120px;
	font-family: Calibri;
	margin-left: 10px;
	display: inline-block;
}

#top-bar {
	position: fixed;
	top: 55px;
	left: 425px;
    width: calc(100% - 425px);
	display: inline-block;
}

#content {
	width: 100%;
}

#copyright-contact {
	color: #a3a3a3;
	font-size: 10px;
	position: fixed;
	bottom: 10px;
	left: 10px;
}

a {
	text-decoration: none;
	color: #4da6ff;
}

a:hover {
	color: #1d76af;
}

a:focus {
	color: #1d76af;
}

a:visited {
	color: #4da6ff;
}

textarea {
	border: 1px solid #eee;
	border-radius: 2px;
}

input[type="email"], input[type="text"], input[type="password"]  {
	font-size: 16px;
	padding: 2px;
	background: none;
	border: none;
	border-bottom: 2px solid #4da6ff;
	border-radius: 1px;
	width: 100%;
	box-shadow: 0 2px 2px -2px #4da6ff;
	color: #666666;
}

input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus {
	color: black;
    border-bottom: 2px solid #2d86df;
}

input[type="email"]:invalid, input[type="text"]:invalid, input[type="password"]:invalid  {
	border-bottom: 2px solid orangered;
	box-shadow: 0 2px 2px -2px orangered;
}

input[type="email"]:disabled, input[type="text"]:disabled, input[type="password"]:disabled  {
	border-bottom: 2px solid gray;
	box-shadow: 0 2px 2px -2px gray;
    color: #666;
}

input[type="button"], button {
	box-sizing: border-box;
	font-size: 16px;
	padding: 2px;
	border-radius: 3px;
	width: 100%;
	background-color: #4da6ff;
	box-shadow: 0px 0px 1px #4da6ff;
	border: none;
	color: white;
	cursor: pointer;
}

input[type="button"]:hover, button:hover {
	background-color: #4595e5;
}

input[type="button"]:focus, button:focus {
	background-color: #4595e5;
}

input[type="button"]:active, button:active {
	background-color: #3d84cc;
}

input[type="button"]:disabled {
    background-color:#959595;
    cursor:default;
}

input {
    outline: none;
}

.context-menu {
    position: fixed;
	border-radius: 1px;
    z-index: 9999;
	border: 1px solid #e3e3e3;
	box-shadow: 2px 1px 2px #eee;
	background-color: #fefefe;
	font-size: 15px;
    min-width: 100px;
    color: #666;
}

.context-menu-item {
    cursor:pointer;
	padding: 5px;
    padding-left: 20px;
    padding-right: 20px;	
}

.context-menu-item:hover {
    color:black;
}

.dialog-box {
    position: fixed;
	border-radius: 1px;
    z-index: 8888;
	border: 1px solid #e3e3e3;
	box-shadow: 0px 1px 1px #eee;
	background-color: #fefefe;
	font-size: 15px;
    min-width: 100px;
	padding: 20px;
	left: 50%;
	width: 40%;
	margin-left: calc(-20% - 10px);
}

.dialog-box-title {
	font-weight: bold;
	font-size: 1.2em;
}

.shadow-box {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(5, 5, 5, 0.5);
}

hr {
	border: none;
	height: 1px;
	background-color: #eee;
}

/*	--------------------------- TOOLS CLASSES ----------------------------*/

.inline {
	display: inline-block;
}

.smallSize {
	width: 70% !important;
}